html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.app-container {
  background-color: #222;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}